.content-line {
  width: 80%;
  margin: 10px auto 0px auto;
  padding: 7px;
  border: solid 1px black;
}

.content-line-self {
  align-self: center;
  width: 20%;
  margin: 10px auto 0px auto;
  padding: 7px;  
}

input[type="text"] {
  align-self: center;
  width: 60%;
  margin: 10px auto 0px 150px;
  padding: 7px;
}

#criar-carta {
  margin-left: 10px;
  padding: 7px;
}

#carta-contador {
  margin-left: 97%;
}
