#header-content {
  margin: 40px 0;
  text-align: center;
}

#input-container {
  margin: 40px 0;
  text-align: center;
}

#carta-texto {
  width: 60%;
}

#output-container {
  margin: 40px 0;
}

#carta-gerada {
  font-size: 20px;
  text-align: center;
}
