#header-content {
  margin: 40px 0;
  text-align: center;
}

#input-container {
  margin: 40px 0;
  text-align: center;
}

#carta-texto {
  width: 60%;
}

#output-container {
  margin: 40px 0;
}

#carta-gerada {
  font-size: 20px;
  text-align: center;
}

.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman', sans-serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('/images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  display: inline-block;
  transform: matrix(0.996, -0.087, 0.087, 0.996, 0, 0);
}

.rotateright {
  display: inline-block;
  transform: matrix(0.996, 0.087, -0.087, 0.996, 0, 0);
}

.skewleft {
  display: inline-block;
  transform: matrix(1, 0, 0.176, 1, 0, 0);
}

.skewright {
  display: inline-block;
  transform: matrix(1, 0, -0.176, 1, 0, 0);
}
#carta-contador  {
  text-align: center;
}
